@font-face {
    font-family: titleFont;
    src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: LinkFont;
    src: url('../assets/fonts/OpenSansCondensed-Bold.ttf');
}

@font-face {
    font-family: contentFont;
    src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}
